@use '../../../../partials';

.links {
  position: absolute;
  top: 214px;
  left: 30px;
}

.links_inner_top {
  position: relative;
  top: 12px;
  left: 18px;
}

.links_inner_bottom {
  position: relative;
  left: 18px;
  margin-top: 48px;
}

.link_lg {
  @extend .h3;
  color: partials.$color-white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 18px;
}

.link_sm {
  @extend .b1;
  color: partials.$color-white;
  text-decoration: none;
  display: inline-block;
  margin-bottom:  8px;
}