@use '../../../partials';

.outer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: partials.$navigation-height;
  min-width: partials.$page-width-min;
  @include partials.z-index-base();
}

.inner_container {
  width: 100%;
  max-width: partials.$page-width-max;
  min-width: partials.$page-width-min;
}