@use '../../../partials';

$animation-timing: 400ms;

@mixin -base($background-color, $color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 375px;
  min-width: 310px;
  padding: 8px;
  border: none;
  background-color: $background-color;
  color: $color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: fade-in-translate-up $animation-timing ease-in-out forwards;
  @include partials.z-index-surface;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.623); 
    animation: fade-in $animation-timing ease-in-out forwards;
  }

  .close_btn_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  .close_btn {
    background-color: transparent;
    border: none;
    font-size: 28px;
  }
  
  .content {
    margin: 16px 36.5px 36.5px 48px;
    width: 225px;
    text-align: center;
  }
}

.popup_modal_dark_theme[open] {
  @include -base(partials.$color-black-8by8, partials.$color-white);
}

.popup_modal_light_theme[open] {
  @include -base(partials.$color-white, partials.$color-black-text);
}

@keyframes fade-in {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

@keyframes fade-in-translate-up {
  from {
    opacity: 0;
    translate: 0 18px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}