@import "./../../styles/Components.scss";

.player-welcome {
  background-color: $white;
  color: $black;

  button {
    @include button;
    outline: 4px solid white;
    margin-top: 25px;
  }

  .top {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: $black;
    color: white;
    .top-heading {
      @include heading-text(white, 50px);
      line-height: 57.6px;
      letter-spacing: 0.03em;
      margin: 20px 0px;
      .underline {
        @include text-underline;
      }
    }

    a:link,
    a:active,
    a:visited {
      color: $blue;
    }
  }

  a:link,
  a:active,
  a:visited {
    color: $black;
  }

  .main-content {
    padding: 40px 30px;
  }

  .heading {
    @include heading-text($black, 36px);
    margin-bottom: 40px;
    line-height: 43.2px;
    letter-spacing: 0.03em;
    text-align: center;
    .underline {
      @include text-underline;
    }
  }

  .subheading {
    @include subheading-text($black, 24px);
    line-height: 29px;
    padding: 0px;
  }

  .text {
    font-family: $lato;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .small-text {
    font-family: $lato;
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-top: 15px;
  }

  .curve {
    width: 100%;
  }

  .image {
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
  }
}
