@import "Variables";

// buttons
@mixin button($color: $yellow) {
  padding: 9px;
  width: 100%;
  background: $color;
  @if $color != $yellow {
    color: white;
  }
  border: none;
  text-align: center;
}
