@use '../../variables/font-families';
@use '../../variables/font-weights';
@use '../../variables/letter-spacings';
@use '../../variables/font-sizes';
@use '../../variables/colors';
@use '../../variables/gradients';

@mixin -base {
  position: relative;
  display: inline-block;
  font-family: font-families.$bebas-neue;
  font-weight: font-weights.$regular;
  letter-spacing: letter-spacings.$large;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: solid;
  border-radius: 40px;
  border-width: 4px;
  border-color: colors.$black-8by8;
}

@mixin -outline {
  &::after {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: colors.$white 4px solid;
  }
}

@mixin -gradient-text {
  :first-child {
    //a span element should be added inside the button to contain the text, these styles will apply to it
    background: gradients.$yellow-teal;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
    font-size: inherit;
  }
} 

.btn_gradient {
  @include -base;
  @include -outline;
  background: gradients.$yellow-teal;
  color: colors.$black-8by8;
}

.btn_inverted {
  @include -base;
  @include -gradient-text;
  @include -outline;
  background: colors.$black-8by8;
}

.btn_lg {
  font-size: font-sizes.$lg;
  height: 64px;
  border-radius: 40px;
  border-width: 4px;
}

.btn_sm {
  font-size: font-sizes.$md;
  padding: 4px 14px;
}

.btn_wide {
  width: 100%;
}