#navbar {
  background-color: black;
  height: 57px;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 375px;
  max-width: 500px;
  width: 100%;
}

#brand-logo {
  height: 38px;
  padding: 0;
}

#icons-tray {
  height: 35px;
  width: 80px;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sidebar-icon {
  font-size: 34px;
  position: relative;
  bottom: 5px;
}

#notif-icon {
  font-size: 30px;
  position: relative;
  bottom: 4px;
}

a.nav-link {
  padding: 0;
  color: white;
}

a.nav-link:hover {
  color: white;
}

a.navbar-brand {
  padding: 0;
}

/* Sidebar */
.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 500px;
  min-width: 375px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  z-index: -1;
  right: -380px;
  transition: 400ms;
}

.nav-container.active {
  right: auto;
  transition: 400ms;
  opacity: 1;
  z-index: 100;
}

.nav-menu {
  background-color: black;
  color: white;
  max-width: 80vw;
  width: 380px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.menu-header {
  width: 100%;
  height: 60px;
  position: static;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.menu-items {
  width: 100%;
  overflow: auto;
  padding: 20px 30px;
}

.menu-greeting {
  font-size: 30px;
  margin: 30px 0;
  text-transform: uppercase;
}

.nav-text {
  display: flex;
  align-items: center;
  text-align: left;
  list-style: none;
  height: 60px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0 5px;
}

.nav-text:hover {
  background-color: rgba(130, 130, 130, 0.25);
}

.nav-text a {
  text-decoration: none;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 0;
}

.nav-text p {
  margin: 0;
  margin-left: 10px;
}

.menu-settings {
  margin: 10px 0;
}

.menu-settings a.nav-link {
  margin: 10px 0;
}

/* Notifications tray */
.notif-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.notif-menu {
  height: 80vh;
  width: 100vw;
  max-width: 500px;
  position: fixed;
  bottom: -80vh;
  transition: 400ms;
  background-color: black;
  color: white;
  border-top: 2px solid black;
}

.notif-menu.active {
  bottom: 0;
  transition: 400ms;
}

.notif-toggle {
  width: 100%;
  height: 60px;
  display: flex;
}

#close-icon {
  font-size: 30px;
  position: absolute;
  top: 14px;
  left: 15px;
}

.notif-items {
  width: 100%;
  overflow: auto;
  padding: 10px;
}

.notif-title {
  margin: auto;
  font-size: 30px;
}

.notif-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 20px;
}

.false {
  font-weight: bolder;
}

.notif-icon {
  display: flex;
  align-items: center;
  width: 12.5%;
  text-align: center;
  font-size: 30px;
}

.notif-text {
  width: 65%;
}

.notif-date {
  width: 22.5%;
  text-align: end;
}
