#header {
  position: fixed;
  z-index: 1;
}
#app-outer-wrapper {
    background-color: #142a38;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 57px;
}
#app-wrapper {
  max-width: 500px;
}