@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  background-color: #142a38;
  color: white;
  font-family: Montserrat;
  font-weight: 15pt;
}

#button-style {
  background: #d2513d !important;
  border: 0px;
}

.primary {
  color: #d2513d;
}

.secondary {
  color: #87b4d0;
  font-size: 13;
}

.tertiary {
  color: #addefc;
  font-size: 14;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 10%;
  padding: 5px;
  vertical-align: middle;
}

#badge {
  padding: 5px;
  height: 5vh;
  width: auto;
}
