@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.modal-dialog {
    overflow: hidden;
    max-width: 340px;
    border-radius: 20px;
}

.modal-image-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #333333;
    white-space: pre-wrap;
    text-align: justify;
    text-justify: inter-word;
}

.modal-primary {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.15rem;
    color: #0D3446;
}

#modal-icon {
    margin: 0.4rem;
}
.modal-secondary {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    color: #0D3446;
    margin-top: 1.1rem;
}

.modal-link-btn {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background: #F3F3F3 !important;
    border: 0.1rem dashed #D2513D !important;
    border-radius: 0.5rem !important;
    padding: 0.8rem !important;
}

.modal-link-btn:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: #D2513D !important;
    transition: background-color 0.7s ease-out;
}
.modal-link-btn:focus {
    box-shadow: none !important;
}

.modal-link-btn:active {
    box-shadow: none !important;
    background-color: #F3F3F3  !important;
}

.modal-link {
    margin-left: 0.5rem;
    font-family: Montserrat;
    font-style: normal;
}

.modal-link-btn:hover .modal-link {
    color: white;
    transition: color 0.8s ease-out;
}

.modal-link-copy {
    margin-left: 2rem;
    margin-right: 0.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.15rem;
    color: #D2513D;
}