@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --primary: #142a38;
  --secondary: #d2513d;
  --tertiary: #addefc;
}

.bebas-neue {
  font-family: "Bebas Neue", cursive;
}

.black-text {
  color: black;
  align-self: flex-end;
  padding: 0px 10px 10px 10px;
}

.white-background {
  background: white;
  padding: 20px 40px;
}

h1{
  font-size: 36pt;
}

.padded{
  padding: 20px;
}

button + button{
  margin-top: 20px;
}

h2{
  font-size: 30pt;
}

img.center {
  display: block;
  margin: 0 auto;
}

.montserrat {
  font-family: "Montserrat";
  font-weight: 600;
}

.lato {
  font-family: "Lato";
}

.secondary-col {
  color: var(--secondary);
}

.tertiary-col {
  color: var(--tertiary);
}

.white-col {
  color: white;
}

.border-text {
  border-style: dashed;
  border-color: var(--secondary);
  border-radius: 10px;
  background: var(--primary);
  text-align: center;
  margin: 30px 0;
  padding: 5px;
  max-width: 300px;
  display: flex;
  justify-content: center;
}