$yellow: #FFED10;

.white-text{
    color: white;
    align-self: flex-end;
    display: block;
    margin: 0 auto;
}

.underline{
    text-decoration: underline #FFED10
}

.bordered-button{
    padding: 9px;
    width: 100%;
    background: none;
    color: white;
    border: 3px solid #FFED10;
    text-align: center;
}

.yellow-button{
    padding: 9px;
    width: 100%;
    background:$yellow;
    border: none;
    text-align: center; 
}

