@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");

h1 {
  font-family: "Bebas Neue";
}

p {
  font-family: "Lato";
}

#button-style {
  color: black;
  background: #bfbfbf;
  border-radius: 0;
  border-color: #bfbfbf;
}
