@import "../styles/Components.scss";

.player-welcome {
  background-color: $white;
  color: $black;

  button {
    @include button;
    outline: 4px solid white;
    margin: 10px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    background-color: $black;
    color: white;
    .top-heading {
      @include heading-text(white, 50px);
      margin-top: 25px;
      margin-bottom: 20px;
      line-height: 43.2px;
      letter-spacing: 0.03em;
      text-align: center;
      .underline {
        @include text-underline;
      }
    }
  }

  .main-content {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    @include heading-text($black, 36px);
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 43.2px;
    letter-spacing: 0.03em;
    text-align: center;
    .underline {
      @include text-underline;
    }
  }

  .subheading {
    @include heading-text($black, 24px);
    line-height: 29px;
    letter-spacing: 0.03em;
  }

  .text {
    font-family: $lato;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .small-text {
    font-family: $lato;
    font-size: 15px;
    letter-spacing: 0.02em;
    padding: 10px;
  }

  .image {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .curve {
    width: 100%;
  }
}
