@import "../styles/Components.scss";

.player-welcome {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;

  .getStarted-button {
    @include button;
    outline: 4px solid white;
    margin: 10px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    background-color: $black;
    color: white;
    .top-heading {
      @include heading-text(white, 50px);
      line-height: 57.6px;
      letter-spacing: 0.03em;
      margin: 20px 0px 20px;
      .underline {
        @include text-underline;
      }
    }
  }

  .signin-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0px 0px 10px 0px;
    font-family: $lato;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-weight: 900;
  }

  .blue {
    color: $blue;
  }

  .black {
    color: $black;
  }

  .main-content {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    @include heading-text($black, 36px);
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 43.2px;
    letter-spacing: 0.03em;
    text-align: center;
    .underline {
      @include text-underline;
    }
  }

  .subheading {
    @include subheading-text($black, 24px);
    line-height: 29px;
    padding: 0px;
  }

  .text {
    font-family: $lato;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .small-text {
    font-family: $lato;
    font-size: 15px;
    letter-spacing: 0.02em;
    padding: 10px;
  }

  .curve {
    width: 100%;
  }

  .image {
    padding: 20px 0px;
    text-align: center;
  }
}
