@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.bebas-neue {
  font-family: "Bebas Neue";
  font-weight: normal;
}

.lato {
  font-family: Lato;
}

.white {
  color: white;
}

.black {
  /*8by8 black*/
  color: #101010;
}
.spacing {
  letter-spacing: 0.03em;
}

.yellow-background {
  /*8by8 yellow*/
  background-color: #ffed10;
}

.black-background {
  background-color: #101010;
}

.day-box {
  position: absolute;
  width: 72px;
  height: 72px;
}

.badge-row {
  display: flex;
  width: 295px;
  height: auto;
  justify-content: space-between;
}

.badge-box {
  position: relative;
  width: 52px;
  height: fit-content;
}

.badge-aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-avatar {
  height: 52px;
  width: 52px;
  position: relative;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-text {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.02em;
  margin-top: 6px;
  margin-bottom: 6px;
}

.send-emoji {
  width: 60px;
  height: 20px;
  border: none;
}

.up-down-arm {
  width: 14.68px;
  height: 58.86px;
  background-color: #dedede;
  transform: translate(18.75px, -3px) rotate(-135deg);
}

.down-up-arm {
  width: 14.68px;
  height: 58.86px;
  background-color: #dedede;
  transform: translate(18.75px, -62px) rotate(-45deg);
}

.badge-counter {
  position: absolute;
  top: -4px;
  left: 14px;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
}

#progress-container {
  background-color: white;
  width: 375px;
  height: 100%;
  margin: auto;
}

#navbar {
  /*Temporary*/
  width: 100%;
  height: 57px;
  border: 1px solid #000000;
}

#challenge-badge-header {
  width: 200px;
  height: 26px;
  margin: 0px 86px 13px 89px;
  font-size: 24px;
  line-height: 29px;
}

#day-counter-container {
  position: relative;
  width: 80px;
  height: 81px;
  margin: 0px 142px 17px 153px;
}

#yellow-day-box {
  top: 9px;
  left: 8px;
}

#day-number {
  position: absolute;
  left: 27px;
  top: 2px;
  font-size: 48px;
  line-height: 58px;
}

#days-left {
  position: absolute;
  left: 13px;
  top: 47px;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
}

#thanks-message {
  margin: 0px 40px 0px 40px;
  height: 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

#first-row {
  height: 72px;
  margin: 17px 0px 0px 40px;
}

#second-row {
  margin: 48px 0px 0px 40px;
}

#invite {
  width: 279px;
  height: 53.91px;
  margin: 40px 48px 0px 48px;
  border: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  background: #c4c4c4;
}

#register-message {
  margin-left: 40px;
  margin-top: 10px;
  width: 284px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
