@import '../styles/Components.scss';

.voter-registration {
	background-color: $white;
	color: $black;

	.button-style {
		@include button;
		margin: 10px 0;
	}

	.main-content {
		padding: 20px 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.heading {
		@include heading-text($black, 36px);
		margin: 0px 0px 0px 0px;
		line-height: 43.2px;
		letter-spacing: 0.03em;
		text-align: center;
		.underline {
			@include text-underline;
		}
	}

	.subheading {
		@include heading-text($black, 24px);
		margin: 30px 0px 15px 30px;
		line-height: 29px;
		letter-spacing: 0.03em;
	}

	.text {
		font-family: $lato;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.02em;
		margin-bottom: 15px;
	}

	.small-text {
		font-family: $lato;
		font-size: 15px;
		letter-spacing: 0.02em;
		padding: 10px;
	}

	.image {
		padding: 10px;
	}

	.accordion {
		padding: 5px;
		.accordion-card {
			border-radius: 0;
			border-top: 2px solid black;
			border-left: transparent;
			border-right: transparent;
			border-bottom: 2px solid black;
		}
		.accordion-header {
			background-color: white;
			border-top: black;
		}
	}
}
